/* Expand the grid a bit further on bigger screens */
@media screen and (min-width: 1180px) {
  .wrap .gridism {
    max-width: 1180px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {

  /* Expand anything lower than .half to full-width on smaller screens */
  .gridism .half {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {

  /* Expand anything lower than .half to full-width on smaller screens */
  .gridism .third,
  .gridism .two-thirds,
  .gridism .golden-small,
  .gridism .golden-large,
  .gridism .quarter,
  .gridism .three-quarters,
  .gridism .fifth,
  .gridism .two-fifths,
  .gridism .three-fifths,
  .gridism .four-fifths {
    width: 100%;
  }

  /* … and give them some better margins */
  .gridism .content {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Sometimes, you want things centered on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }

}
